/* The @media rule is used in media queries to apply different styles for different media types/devices. https://www.w3schools.com/cssref/css3_pr_mediaquery.php */
@media screen {
	body {
		max-width: 80%;
	}
	
	div#main {
		max-width: 80%;
	}
}

@media print {
	th {
		background-color: #2596be !important;
		print-color-adjust: exact; 
	}
	body {
		max-width: 2480px; /* 2480 x 3508 Pixel is the width of an Din A4 sheet */
	}
	
	div#main {
		max-width: 100%;
	}
}

/* Global CSS */
body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #ffffff;
	padding: 20px;
}

table#report-info {
	margin-top: 100px;
}

h1 {
	margin-top: 10px;
	margin-bottom: 20px;
}

h1#title {
	margin-right: auto;
	width: 80%;
}

h2 {
	margin-top: 50px;
	margin-bottom: 20px;
}

h3 {
	margin-top: 50px;
	margin-bottom: 20px;
}

div#main {
	border: 1px solid;
	border-radius: 10px;
	padding: 10px;
}

div#title {
	padding-bottom: 40px;
	
}

table {
	border-collapse: collapse;
	border: 1px solid;
	width: 80%;
}

table.nested {
		border-collapse: collapse;
	border: 1px solid;
	width: 98%;
}

th, td {
	text-align: left;
	padding: 10px;
	border-bottom: 1px solid;
}

th {
	background-color: #2596be;
}

img#default_logo {
	/*max-width: 80px;*/
	max-height: 60px;
	float: right;
	margin: 10px 0px 15px 15px;
}

img.default-wallpaper {
	max-width: 200px;
	max-height: 200px;
}

img.default-guest {
	max-width: 200px;
	max-height: 200px;
}

img.default-user {
	max-width: 200px;
	max-height: 200px;

}

img.default-bmp {
	max-width: 200px;
	max-height: 200px;

}

